
:root {
    --color-primary-dark: #FF9C35;
    --color-primary-light: #FFD019;
    --color-dark: rgb(0, 0, 0);
    --color-gradient: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light))
}

*  {
    margin: 0;
    padding: 0;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.6rem;
    color: var(--color-dark);
}
/* ///////////////////////////// */
/* Header Section */
/* ///////////////////////////// */

/* Navbar */
.header {
    margin-top: 1rem;
}


.header .nav-item {
    margin-left: 4rem;
}

.header .nav-item .nav-link {
    color: var(--color-dark);
    font-weight: 500;
}

.header .nav-item .nav-link:hover {
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header .nav-item.active {
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Carousel  */

.carousel-header {
    font-size: 4rem;
    margin-bottom: 2.5rem;
}

.carousel-item .para {
    font-size: 1.4rem;
    margin-bottom: 5rem;
}

.carousel-item {
    /* margin-top: -3rem; */
    margin-bottom: 4rem;
}

.carousel-indicators li {
    display: inline-block;
    height: 8px;
    width: 12px;
    background-color: grey;
}
.carousel-indicators li.active {
    display: inline-block;
    height: 8px;
    width: 30px;
    background-image: var(--color-gradient);
    border-radius: 10px;
}

.buy-now-button {
    background-color: var(--color-dark);
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #ffffff;
    border:2px solid var(--color-dark);

    transition: all .4s ease;
}

.buy-now-button:hover {
    border:2px solid var(--color-dark);
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: var(--color-dark);
}

/* ///////////////////////////// */
/* Product Section */
/* ///////////////////////////// */

.product {
    margin: 10rem 0;
}

.product .card-deck {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.product .card-deck .card {
    border: none;
    padding: 3rem;
    text-align: center;

    box-shadow: 5px 10px 30px lightgrey;
    border-radius: 10px;
}

.product .card-deck .card .card-title {
    margin: 1.5rem 0;
}
.product .card-deck .card .card-text {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

.product .card-deck .card .card-footer {
    border: none;
    background-color: transparent;
}

.product .see-all {
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}