
:root {
    --color-primary-dark: #FF9C35;
    --color-primary-light: #FFD019;
    --color-dark: rgb(0, 0, 0);
    --color-gradient: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light))
}

*  {
    margin: 0;
    padding: 0;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.6rem;
    color: var(--color-dark);
}
/* ///////////////////////////// */
/* Header Section */
/* ///////////////////////////// */

/* Navbar */
.header {
    margin-top: 1rem;
}


.header .nav-item {
    margin-left: 4rem;
}

.header .nav-item .nav-link {
    color: var(--color-dark);
    font-weight: 500;
}

.header .nav-item .nav-link:hover {
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header .nav-item.active {
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Carousel  */

.carousel-header {
    font-size: 4rem;
    margin-bottom: 2.5rem;
}

.carousel-item .para {
    font-size: 1.4rem;
    margin-bottom: 5rem;
}

.carousel-item {
    /* margin-top: -3rem; */
    margin-bottom: 4rem;
}

.carousel-indicators li {
    display: inline-block;
    height: 8px;
    width: 12px;
    background-color: grey;
}
.carousel-indicators li.active {
    display: inline-block;
    height: 8px;
    width: 30px;
    background-image: var(--color-gradient);
    border-radius: 10px;
}

.buy-now-button {
    background-color: var(--color-dark);
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #ffffff;
    border:2px solid var(--color-dark);

    transition: all .4s ease;
}

.buy-now-button:hover {
    border:2px solid var(--color-dark);
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: var(--color-dark);
}

/* ///////////////////////////// */
/* Product Section */
/* ///////////////////////////// */

.product {
    margin: 10rem 0;
}


.product .card-deck {
    margin-top: 2.5rem;
    margin-bottom: 10rem;
}
.product .card-deck .card {
    border: none;
    padding: 3rem;
    text-align: center;

    box-shadow: 5px 10px 30px lightgrey;
    border-radius: 10px;
}

.product .card-deck .card .card-title {
    margin: 1.5rem 0;
}
.product .card-deck .card .card-text {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

.product .card-deck .card .card-footer {
    border: none;
    background-color: transparent;
}

.product .see-all {
    background-image: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* ////////////////////////// */
/* Category section */
/* ////////////////////////// */

.category {
    margin: 10rem 0;
}

.category .row {
    padding-top: 2rem;
}
.category .box {
    height: 230px;
    width: 230px;
    box-shadow: 5px 5px 10px lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

    border-radius: 30px 0px 30px 0px;

    cursor: pointer;

    transition: all .4s ease;
}

.category .box:hover {
    transform: scale(1.01) translateY(-1rem);
    box-shadow: 10px 10px 20px lightgray;
}

.category .box.first-box {
    border-radius: 0px 30px 0px 30px;
}

.category .box img:hover {
    animation: shake 0.9s;
}

/* .box:first-of-type {
    background-color: red;
} */


.category .box .para {
    font-size: 2rem;
    margin-top: 2rem;
}

.category .category-image {
    width: 650px;
}

.line{
    height: 8px;
    width: 130px;
    border-radius: 25px;
    background: var(--color-gradient);
}



















/* Animations */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }